.container {
  margin-bottom: var(--space-md);
  border-radius: var(--radius-md);
  overflow: hidden;
  background-color: var(--color-black);
}

.video {
  width: 100%;
  max-height: 500px;
  display: block;
}